--- 
http_interactions: 
- request: 
    method: post
    uri: https://netenberg.com/api/server.php 
    body: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><getIpList><accountHASH>hash</accountHASH><listType>0</listType></getIpList></env:Body></env:Envelope>
    headers: {}
  response: 
    status: 
      code: 200
      message: OK
    body: 
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="urn:xmethods-delayed-quotes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:getIpListResponse><Result SOAP-ENC:arrayType="xsd:string[1]" xsi:type="SOAP-ENC:Array">  <item xsi:type="xsd:string">127.0.0.1</item>  <item xsi:type="xsd:string">127.0.0.2</item></Result></ns1:getIpListResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Tue, 01 Nov 2011 04:58:44 GMT
recorded_with: VCR 2.0.0